header{
    background-color: palevioletred;
    padding: 5px;
    color: white;
}
header nav{
    background-color: aliceblue;
}
header nav ul{
    list-style: none;
    position: relative;
    height: 30px;
}
header nav li{
    position: absolute;
    width: 30px;
}
main{
    background-color: whitesmoke;
    padding: 5px;
}
main table{
    text-align: center;
    width: 600px;
    border: 1px solid;
}
main table td, main table th{
    border: 1px solid;
}
main table td img:hover{
    width: 150px;
}
footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}